
.container {
  max-width: 80rem;
  min-height: calc(100vh - 4rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.section-title {
  font-size: 2.25rem; 
  font-weight: 800; 
  text-align: center;
  color: #2b6cb0; 
  margin-bottom: 2.5rem;
}


.recipes-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.no-recipes-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}


@media (min-width: 640px) { 
  .recipes-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
  }
}

@media (min-width: 1024px) {
  .recipes-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
  }
}

@media (min-width: 1280px) {
  .recipes-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
  }
}

